@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Infini Collect</h1>
    <p class="lead">The Collections Website</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            This is just alittle blurb about this site. If you collect anything at all you can use this site to keep track of your collections.
            There is nothing worse than buying the same movie, comic, or video game. I hope that you can use this site to keep track of the different
            collections you own. Get logged in and enjoy!
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Contact</h2>
        <p>Just a quick and handy way to get in contact with someone on this site. Considering there is only ME!, It should be pretty easy</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something About Me</h2>
        <p>You can check out this link if your into to knowing alittle bit about who made the site your checking out</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>